.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    min-width: 300px;
}

.flex-container .sbtn {
    width: 20%;
    min-width: 120px;
    max-width: 200px;
    height: 120px;        
    margin: 5px;
    text-align: center;
    line-height: 120px;
    font-size: 30px; 
    font-weight: bold;
    color: black;   
}

.text-center {
    text-align: center;
    color: white;
}

.green {
    background-color: rgb(40, 198, 40);
    border-radius: 60px 10px 10px 10px; 
}

.green:hover {
    background-color: rgb(0, 255, 0);
}

.red {
    background-color: rgb(188, 31, 31);
    border-radius: 10px 60px 10px 10px; 
}

.red:hover {
    background-color: rgb(255, 0, 0); 
}

.yellow {
    background-color: rgb(190, 190, 33);
    border-radius: 10px 10px 10px 60px; 
}

.yellow:hover {
    background-color: rgb(255, 255, 0);
}

.blue {
    background-color: rgb(37, 37, 214);
    border-radius: 10px 10px 60px 10px; 
}

.blue:hover {
    background-color: rgb(0, 0, 255);
}

.btn-bool {    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 80%;
    margin-top: 20px;        
    padding: 18px;    
    border-radius: 10px;
    font-size: 100%;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(155, 155, 155);
    background-color: rgb(127, 218, 127);
    word-wrap: break-word;
}

.btn-bool:hover {
    background-color: aquamarine;
}

.contador{
    display: flex;
    position: fixed;
    left: 75%;
    top: 5%;
    width: 12%;
    height: 15vh;
    z-index: 1;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: white;
}
.contador-p{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    word-wrap: break-word;
}



.titulo_nivel{
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    fill-opacity: initial;
    word-wrap: break-word;
    color: rgb(16, 216, 196);
}

.contendo_nivel{
    margin-top: 5%;
    font-size: 75%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    color: black;
    margin-bottom: 10%;
    padding: 1.5%;
}

.titulo_nivel:hover{
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
}

.titulo_nivel:hover>.btn-level{
    display: block;
}

.btn-level{
    color: white;
    border-radius: 20px;
    background-color: rgb(16, 216, 196);
    padding: 1.5%;
    text-align: center;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    border-style: none;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    display: none;
}

.btn-clasi{
    color: white;
    border-radius: 20px;
    background-color: rgb(16, 216, 196);
    padding: 2%;
    text-align: center;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    border-style: none;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}

